body {
    font-family: Arial, sans-serif;
    background-image: url('beach.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire viewport */
    background-position: center;
    color: #333; /* Default text color */
}

.container {
    padding-top: 20px;
}

.navbar {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #4800ff; /* Bootstrap's primary color */
}

.navbar-brand {
    font-size: 1.5rem; /* Increase brand font size */
}

.nav-link {
    font-weight: bold; /* Make navbar links bold */
}

img {
    max-width: 100%; /* Make images responsive */
}

